.crumbs {
  list-style: none;
  padding: 50px 0;

  @include r(1200) {
    padding: 20px 0;
  }

  li {
    font-family: $m-med;
    font-size: 0.8235rem;
    display: inline-block;
    &:not(:last-child) {
      position: relative;
      margin-right: 30px;

      @include r(1200) {
        margin-right: 15px;
      }

      a {
        color: $wblue;
        border-bottom: 1px solid $wblue;
        &:hover {
          border-bottom-color: $tr;
        }
      }
      &::before {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        top: 6px;
        right: -26px;
        border: 4px solid $tr;
        border-left-color: $wblue;

        @include r(1200) {
          right: -16px;
        }
      }
      &::after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        top: 6px;
        right: -24px;
        border: 4px solid $tr;
        border-left-color: #fff;

        @include r(1200) {
          right: -14px;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid $dark;
    }
  }
}