.footer {
  color: #fff;
  background-color: $dgreen;

  &__tel {
    font-family: $m-bold;
    font-size: 1.7647rem;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 30px 0;
    background-color: $mgreen;
    display: block;

    &:hover {
      color: #fff;
      background-color: $green;
    }
  }

  &__in {
    padding: 50px 0;
  }

  &__title {
    font-family: $m-bold;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include r(1200) {
      margin-bottom: 15px;
    }
  }

  &__catalog {
    display: flex;

    &-link {
      font-family: $m-med;
      color: #fff;
      min-width: calc(50% - 10px);
      padding: 20px 30px;
      border: 1px solid #fff;
      border-radius: 5px;
      display: flex;
      align-items: center;

      @include r(1500) {
        padding: 20px 10px;
      }

      @include r(495) {
        flex-direction: column;
      }

      &:first-child {
        margin-right: 20px;

        @include r(1500) {
          svg {
            width: 90px;
          }
        }
      }

      &:last-child {
        padding-right: 15px;

        @include r(1500) {
          padding-right: 5px;

          svg {
            width: 120px;
          }
        }
      }

      span {
        flex-grow: 1;
        text-align: center;
      }

      svg {
        stroke: #fff;
        stroke-width: 2;
      }

      &:hover {
        color: #fff;
        background-color: $mgreen;
        border-color: $mgreen;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__link {
    color: $lgray;

    &:hover {
      color: #fff;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include r(1200) {
        margin-bottom: 10px;
      }
    }
  }

  &__about {
    max-width: 471px;
    margin: 0 auto;

    @include r(1500) {
      max-width: 370px;
    }

    @include r(1200) {
      margin-left: 0;
    }
  }

  &-form {
    &__subtitle {
      color: $lgray;
      margin-bottom: 6px;
    }
    &__in {
      max-width: 270px;
      display: flex;
      flex-direction: column;

      @include r(495) {
        max-width: unset;
      }
    }
  }

  &__slogan {
    max-width: 553px;
    margin-left: 40px;

    @include r(1200) {
      max-width: unset;
      text-align: center;
      margin-left: 0;
    }
  }

  &__bot {
    font-size: 0.8235rem;
    border-top: 1px solid $wblue;
    padding: 50px 0;
  }

  &__logo {
    @include ease;

    &-icon {
      fill: #fff;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__social {
    svg {
      fill: #fff;
      @include ease;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      svg {
        fill: $gray;
      }
    }

    &-list {
      margin-left: 20px;

      @include r(1200) {
        margin-left: 0;
      }
    }
  }
  
  &__terms {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}