.header {
  position: relative;
  background: rgba(7, 178, 189, 0.8);
  backdrop-filter: blur(3px);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include r(1200) {
    padding-left: 10px;
  }

  &__nav {
    color: #fff;
    display: flex;

    @include r(1200) {
      flex-direction: column;
      max-width: 570px;
      margin-left: auto;
      margin-right: auto;
      background-color: $green;
      margin-top: 44px;
    }

    &-wrp {
      @include r(1200) {
        display: none;
        min-height: 100vh;
        width: 100vw;
        background-color: $dgreen;
      }

      .fancybox-close-small {
        color: #fff;
        border: 1px solid #fff;
      }
    }

    &-link {
      font-family: $m-med;
      color: #fff;
      padding: 33px 18px;
      min-width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.active {
        svg {
          transform: scaleY(-1);
        }
      }

      @include r(1200) {
        padding: 20px 15px;
      }

      &:hover {
        color: #fff;
      }

      svg {
        stroke: #fff;
        @include ease;
      }

      &-wrp {
        position: relative;
        @include ease;

        @include r(1200) {
          border-bottom: 1px solid $dgreen;
        }

        &:hover {
          background-color: $green;

          .header__nav-dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }

        &:last-child {
          border-left: 1px solid $dgreen;
          border-right: 1px solid $dgreen;

          @include r(1200) {
            border: none;
          }
        }
      }
    }

    &-dropdown {
      position: absolute;
      color: #fff;
      left: 0;
      top: 100%;
      background-color: $green;

      opacity: 0;
      visibility: hidden;
      transform: translateY(-5px);
      @include cubic2;

      @include r(1200) {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      &--about {
        left: -1px;
        min-width: 400px;
        flex-direction: column;
        background-color: $green;
        border: 1px solid $blue;

        @include r(1200) {
          min-width: unset;
          border: none;
          border-top: 1px solid $dgreen;
        }
      }

      &-link {
        font-family: $m-med;
        color: #fff;
        padding: 16px 20px;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #0B9CAE;

        &:hover {
          color: #fff;
          background-color: #0B9CAE;
        }
      }
    }

    &-catalog {
      position: relative;

      @include r(1200) {
        width: 100%;
      }

      &:first-child {
        .header__nav-catalog-item {
          border-right-color: $tr;

          @include r(1200) {
            border-top: 1px solid $dgreen;
          }
        }
      }

      &:hover {
        .header__nav-catalog-item {
          background-color: $green;
        }

        .header__nav-catalog-dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      &-item {
        font-family: $m-med;
        color: #fff;
        min-width: 401px;
        padding: 30px;
        border: 1px solid $blue;
        display: flex;
        align-items: center;

        @include r(1200) {
          padding: 15px;
          min-width: auto;
          border: none;
          border-bottom: 1px solid $dgreen;
        }

        span {
          flex-grow: 1;
          text-align: center;

          @include r(1200) {
            flex-grow: 0;
            flex-basis: 100px;
            text-align: left;
          }
        }

        svg {
          stroke: #fff;
          stroke-width: 2;
        }

        &:hover {
          color: #fff;
          background-color: $green;
        }
      }

      &-dropdown {
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: calc(100% + 1px);
        background-color: $green;
        border: 1px solid $blue;

        opacity: 0;
        visibility: hidden;
        @include cubic2;
        transform: translateY(-5px);

        @include r(1200) {
          position: relative;
          top: auto;
          left: auto;
          width: 100%;
          opacity: 1;
          visibility: visible;
          transform: translate(0);
          border: none;
        }
      }

      &-link {
        font-family: $m-med;
        color: #fff;
        padding: 16px 16px 16px 100px;
        width: 100%;
        border-bottom: 1px solid #0B9CAE;
        display: flex;
        align-items: center;

        @include r(1200) {
          padding: 16px 16px 16px 20px;
        }

        &--ellipse {
          padding-left: 75px;

          @include r(1200) {
            padding-left: 20px;
          }

          span:nth-child(2) {
            flex-basis: 85px;
          }
        }

        &:hover {
          color: #fff;
          background-color: #0B9CAE;
        }

        svg {
          fill: none;
          stroke: #fff;
        }
      }
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include r(1200) {
      position: relative;
      left: auto;
      top: auto;
      transform: translate(0);
    }

    &-icon {
      fill: #fff;

      @include r(1200) {
        width: 100px;
        height: 35px;
      }
    }

    &:hover {
      opacity: .8;
    }
  }

  &__info {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__tel {
    font-family: $m-med;
    color: #fff;
    height: 100%;
    padding: 0 25px;

    @include r(450) {
      display: none !important;
    }

    &:hover {
      color: #fff;
      opacity: .8;
    }

    svg {
      fill: #fff;
    }
  }

  &__cart {
    position: relative;
    min-width: 136px;
    border-left: 1px solid $dgreen;
    @include ease;
    @include flex-center;

    @include r(1200) {
      min-width: 72px;
      border-right: 1px solid $dgreen;
    }

    &:hover {
      background-color: $green;

      .header__cart-dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    &-in {
      width: 100%;
      padding: 30px 0;

      @include r(1200) {
        padding: 10px 0;
      }
    }

    svg {
      fill: #fff;
      transform: translateX(-10px);

      @include r(1200) {
        width: 25px;
        height: 25px;
        transform: translateX(-5px);
      }
    }

    &-value {
      font-family: $m-sbold;
      font-size: 0.8235rem;
      color: #fff;
      position: absolute;
      top: 27px;
      left: 50%;
      transform: translateX(10px);

      @include r(1200) {
        top: 6px;
      }
    }

    &-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      min-width: 515px;
      padding: 50px 20px;
      border: 1px solid $blue;
      background-color: $green;

      opacity: 0;
      visibility: hidden;
      transform: translateY(-5px);
      @include cubic2;
      @include flex-center;

      @include r(1200) {
        min-width: 295px;
        padding: 20px;
      }

      &-info {
        color: #fff;
        margin-left: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
          font-family: $m-med;
          font-size: 1.412rem;
        }
      }

      &-link {
        color: #fff;
        border-bottom: 1px solid #fff;

        &:hover {
          color: #fff;
          border-bottom-color: $tr;
        }
      }
    }
  }
  
  &__hamburger {
    min-width: 72px;
    display: none;

    @include r(1200) {
      @include flex-center;
    }
    
    span {
      position: relative;
      display: block;
      width: 26px;
      height: 2px;
      background-color: #fff;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 26px;
        height: 2px;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
      }

      &::before {
        top: 8px;
      }
      &::after {
        bottom: 8px;
      }
    }
  }
}