button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $tr;
}

.button {
  position: relative;
  font-family: $m-med;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: $green;
  border: 1px solid $green;
  border-radius: 5px;
  padding: 12px 20px;
  outline: none;
  box-shadow: none;
  @include ease;
  display: inline-block;

  &:hover {
    color: #fff;
    background-color: $gray;
    border-color: $gray;
  }

  &--tr {
    color: $dark;
    background-color: $tr;

    &-white {
      color: #fff;
      border-color: #fff;
    }
  }

}

.link-arrow {
  font-family: $m-bold;

  svg {
    stroke: $dark;
    @include ease;
  }

  &:hover {
     svg {
       stroke: $green;
       transform: translateX(5px);
     }
  }
}
