$green: #07B2BD;
$mgreen: #119AA3;
$dgreen: #0B858D;
$dblue: #085596;
$blue: #0B5FA6;
$wblue: #076ABD;
$wgray: #C4C4C4;
$mgray: #F6F6F6;
$lgray: #B6CBDC;
$gray: #D5D9EE;
$dark: #2A3136;
$tr: transparent;

.green {
  color: $green;
}

.wt {
  color: #fff;
}

.lgray {
  color: $lgray;
}

.black {
  color: #000;
}