$m-thin: 'Montserrat-Thin';
$m-elight: 'Montserrat-ExtraLight';
$m-light: 'Montserrat-Light';
$m-reg: 'Montserrat-Regular';
$m-med: 'Montserrat-Medium';
$m-sbold: 'Montserrat-SemiBold';
$m-bold: 'Montserrat-Bold';
$m-ebold: 'Montserrat-ExtraBold';
$m-black: 'Montserrat-Black';
$m-ital: 'Montserrat-Italic';

.bold {
  font-family: $m-bold;
}

.reg {
  font-family: $m-reg;
}