.video-banner {
  position: relative;
  width: 100%;
  min-height: 582px;
  border-radius: 5px;
  overflow: hidden;
  @include flex-center;
  @include cv;

  @include r(600) {
    min-height: 350px;
  }

  &::before {
    @include ovl;
    background-color: $blue;
    opacity: .7;
  }
  
  &__button {
    position: relative;
    width: 78px;
    height: 78px;
    border: 1px solid #fff;
    border-radius: 50%;
    @include flex-center;

    svg {
      fill: #fff;
      transform: translateX(4px);
    }

    &:hover {
      background-color: $green;
      border-color: $green;
    }
  }
}