<section class="blog section--inner">
    <div class="container-fluid">
        <div class="section__title">Полезные статьи</div>
        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-3 mb-xl-4">
                <div class="blog__item">
                    <a class="blog__item-link" href="#">Очистка бассейна ультрафиолетом</a>
                    <div class="blog__item-descr">Очищение воды в бассейне — неотъемлемая часть его эксплуатации. От этого зависят соблюдение санитарно - гигиенических норм и эстетичный внешний вид...</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3 mb-xl-4">
                <div class="blog__item">
                    <a class="blog__item-link" href="#">Уход за бассейном: пылесосы для чистки – аналог</a>
                    <div class="blog__item-descr">Очистка стенок, ватерлинии и дна бассейна от грязи — это одна из важнейших задач, встающих перед владельцами искусственных водоемов...</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3 mb-xl-4">
                <div class="blog__item">
                    <a class="blog__item-link" href="#">Рециркуляция воды в бассейне – аналог</a>
                    <div class="blog__item-descr">В бассейнах всех видов должна происходить непрерывная рециркуляция воды...</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3 mb-xl-4">
                <div class="blog__item">
                    <a class="blog__item-link" href="#">Как выбрать тепловой насос для бассейна?</a>
                    <div class="blog__item-descr">Бассейн — технически сложная конструкция, для оптимального функционала которой требуется комплексное оборудование... </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3 mb-xl-4">
                <div class="blog__item">
                    <a class="blog__item-link" href="#">Гидромассажные системы для бассейнов</a>
                    <div class="blog__item-descr">Гидромассажные системы для бассейнов — это возможность получить несравненные эмоции...</div>
                </div>
            </div>
        </div>
    </div>
</section>