<section class="catalog-grid section--inner">
    <div class="container-fluid">
        <div class="catalog-grid row">
            <div class="col-xl-6 mb-3 mb-xl-4">
                <div class="catalog-grid__sale" style="background-image: url({{root}}assets/img/catalog__sale-bg.jpg);">
                    <div class="catalog-grid__sale-info">
                        <div>Акция <span class="bold">Бассейн под ключ</span></div>
                        <a href="#" class="catalog-grid__sale-link">
                            <svg width="7" height="12">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3 mb-xl-4">
                <div class="catalog-grid__item">
                    <div class="catalog-grid__item-top">
                        <a class="catalog-grid__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--1.png" alt="Catalog Img">
                    </div>
                    <div class="catalog-grid__item-info">
                        <a class="catalog-grid__item-title" href="#">Скиммер для сборных <br> бассейнов</a>
                        <div class="catalog-grid__item-price">
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3 mb-xl-4">
                <div class="catalog-grid__item">
                    <div class="catalog-grid__item-top">
                        <a class="catalog-grid__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--2.png" alt="Catalog Img">
                    </div>
                    <div class="catalog-grid__item-info">
                        <a class="catalog-grid__item-title" href="#">Насос для сборных бассейнов</a>
                        <div class="catalog-grid__item-price">
                            <span class="catalog-grid__item-old-price">4 000</span>
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3 mb-xl-4">
                <div class="catalog-grid__item">
                    <div class="catalog-grid__item-top">
                        <a class="catalog-grid__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--3.png" alt="Catalog Img">
                    </div>
                    <div class="catalog-grid__item-info">
                        <a class="catalog-grid__item-title" href="#">Лестница для бассейна</a>
                        <div class="catalog-grid__item-price">
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3 mb-xl-4">
                <div class="catalog-grid__item">
                    <div class="catalog-grid__item-top">
                        <a class="catalog-grid__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--4.png" alt="Catalog Img" style="transform: translateX(50px)">
                    </div>
                    <div class="catalog-grid__item-info">
                        <a class="catalog-grid__item-title" href="#">Бассейн Larimar</a>
                        <div class="catalog-grid__item-price">
                            <span class="catalog-grid__item-old-price">34 220</span>
                            <span class="green"><span class="bold">33 244</span> ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3 mb-xl-4">
                <div class="catalog-grid__item">
                    <div class="catalog-grid__item-top">
                        <a class="catalog-grid__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--5.png" alt="Catalog Img">
                    </div>
                    <div class="catalog-grid__item-info">
                        <a class="catalog-grid__item-title" href="#">Насос для сборных бассейнов</a>
                        <div class="catalog-grid__item-price">
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3 mb-xl-4">
                <div class="catalog-grid__item">
                    <div class="catalog-grid__item-top">
                        <a class="catalog-grid__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--6.png" alt="Catalog Img" style="transform: translate(30px,10px)">
                    </div>
                    <div class="catalog-grid__item-info">
                        <a class="catalog-grid__item-title" href="#">Бассейн Larimar</a>
                        <div class="catalog-grid__item-price">
                            <span class="green"><span class="bold">40 464</span> ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>