<footer class="footer">
    <a href="tel:88002002020" class="footer__tel">8-800-200-20-20</a>
    <div class="footer__in">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 mb-3 mb-xl-4">
                    <div class="footer__title">Каталог</div>
                    <div class="footer__catalog">
                        <a class="footer__catalog-link" href="#">
                            <span>Круг</span>
                            <svg width="105" height="105">
                                <use xlink:href="#pool--circle"></use>
                            </svg>
                        </a>
                        <a class="footer__catalog-link" href="#">
                            <span>Овал</span>
                            <svg width="145" height="105">
                                <use xlink:href="#pool--ellipse"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 col-sm-6 mb-4 mb-sm-0">
                    <div class="footer__about">
                        <div class="footer__title">О компании</div>
                        <div class="d-flex justify-content-between">
                            <div class="footer__list">
                                <a class="footer__link" href="#">Доставка и оплата</a>
                                <a class="footer__link" href="#">Гарантия</a>
                                <a class="footer__link" href="#">Наши дилеры</a>
                                <a class="footer__link" href="#">Оптовым покупателям</a>
                            </div>
                            <div class="footer__list">
                                <a class="footer__link" href="#">Сервисный центр </a>
                                <a class="footer__link" href="#">Фотогалерея</a>
                                <a class="footer__link" href="#">Инструкция</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="footer__title">Подписка</div>
                    <form class="footer-form">
                        <div class="footer-form__subtitle">Узнавайте первым о новинках и новостях</div>
                        <div class="footer-form__in">
                            <input type="email" placeholder="Ваш e-mail:">
                            <button class="button button--tr button--tr-white mt-2" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bot">
        <div class="container-fluid">
            <div class="d-flex flex-column flex-xl-row justify-content-center align-items-center mb-3 mb-xl-4">
                <div class="d-flex flex-column flex-xl-row align-items-center mb-4 mb-xl-0">
                    <a class="footer__logo mb-4 mb-xl-0" href="#">
                        <svg class="footer__logo-icon" width="180" height="55">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                    <span class="footer__slogan">Компания LARIMAR более 17 лет создает и устанавливает бассейны для Вас и Вашей семьи и благодарит вас за доверия</span>
                </div>
                <div class="footer__social-list d-flex align-items-center">
                    <a class="footer__social" href="#"></a>
                    <a class="footer__social" href="#">
                        <svg width="9" height="20">
                            <use xlink:href="#fb"></use>
                        </svg>
                    </a>
                    <a class="footer__social" href="#">
                        <svg width="27" height="15">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                    <a class="footer__social" href="#">
                        <svg width="22" height="15">
                            <use xlink:href="#yu"></use>
                        </svg>
                    </a>
                    <a class="footer__social" href="#">
                        <svg width="21" height="21">
                            <use xlink:href="#in"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="tac">
                <span class="lgray">© 2020 Larimar — официальный интернет-магазин бассейнов и комплектующих. Все права защищены.</span>
                <a href="#" class="und footer__terms">Условия использования и политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>