<section class="gallery section--inner pt-0">
    <div class="container-fluid">
        <div class="section__title">Фотогалерея</div>
        <div class="gallery-slider owl-carousel">
            <div class="gallery__item" style="background-image: url({{root}}assets/img/gallery__img--1.jpg);"></div>
            <div class="gallery__item" style="background-image: url({{root}}assets/img/gallery__img--2.jpg);"></div>
            <div class="gallery__item" style="background-image: url({{root}}assets/img/gallery__img--3.jpg);"></div>
        </div>
    </div>
</section>