<section class="gallery section--inner pt-0">
    <div class="container-fluid">
        <div class="section__title">Фотогалерея</div>
        <div class="gallery-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="gallery__item swiper-slide" style="background-image: url({{root}}assets/img/gallery__img--1.jpg);"></div>
                <div class="gallery__item swiper-slide" style="background-image: url({{root}}assets/img/gallery__img--2.jpg);"></div>
                <div class="gallery__item swiper-slide" style="background-image: url({{root}}assets/img/gallery__img--3.jpg);"></div>
                <div class="gallery__item swiper-slide" style="background-image: url({{root}}assets/img/gallery__img--1.jpg);"></div>
                <div class="gallery__item swiper-slide" style="background-image: url({{root}}assets/img/gallery__img--2.jpg);"></div>
                <div class="gallery__item swiper-slide" style="background-image: url({{root}}assets/img/gallery__img--3.jpg);"></div>
            </div>
        </div>
    </div>
</section>