<header class="header">
    <div class="header__nav-wrp" id="menu">
        <nav class="header__nav">
            <div class="header__nav-link-wrp">
                <a class="header__nav-link" href="#">
                    <span>Каталог</span>
                    <svg width="13" height="8">
                        <use xlink:href="#chevron-down"></use>
                    </svg>
                </a>
                <div class="header__nav-dropdown">
                    <div class="d-flex flex-wrap flex-xl-nowrap w-100">
                        <div class="header__nav-catalog">
                            <a class="header__nav-catalog-item" href="#">
                                <span>Круг</span>
                                <svg width="105" height="105">
                                    <use xlink:href="#pool--circle"></use>
                                </svg>
                            </a>
                            <div class="header__nav-catalog-dropdown">
                                <a class="header__nav-catalog-link" href="#">
                                    <svg width="33" height="27">
                                        <use xlink:href="#diameter"></use>
                                    </svg>
                                    <span class="ml-1">Диаметр: 2,44 м. </span>
                                </a>
                                <a class="header__nav-catalog-link" href="#">
                                    <svg width="33" height="27">
                                        <use xlink:href="#diameter"></use>
                                    </svg>
                                    <span class="ml-1">Диаметр: 2 </span>
                                </a>
                                <a class="header__nav-catalog-link" href="#">
                                    <svg width="33" height="27">
                                        <use xlink:href="#diameter"></use>
                                    </svg>
                                    <span class="ml-1">Диаметр: 2,44 м. </span>
                                </a>
                            </div>
                        </div>
                        <div class="header__nav-catalog">
                            <a class="header__nav-catalog-item" href="#">
                                <span>Овал</span>
                                <svg width="145" height="105">
                                    <use xlink:href="#pool--ellipse"></use>
                                </svg>
                            </a>
                            <div class="header__nav-catalog-dropdown">
                                <a class="header__nav-catalog-link header__nav-catalog-link--ellipse" href="#">
                                    <svg width="6" height="18">
                                        <use xlink:href="#length"></use>
                                    </svg>
                                    <span class="ml-2">Д: 2,44 м.</span>
                                    <svg class="ml-3" width="18" height="6">
                                        <use xlink:href="#width"></use>
                                    </svg>
                                    <span class="ml-2">Ш: 3,70 м.</span>
                                </a>
                                <a class="header__nav-catalog-link header__nav-catalog-link--ellipse" href="#">
                                    <svg width="6" height="18">
                                        <use xlink:href="#length"></use>
                                    </svg>
                                    <span class="ml-2">Д: 2 м.</span>
                                    <svg class="ml-3" width="18" height="6">
                                        <use xlink:href="#width"></use>
                                    </svg>
                                    <span class="ml-2">Ш: 4 м.</span>
                                </a>
                                <a class="header__nav-catalog-link header__nav-catalog-link--ellipse" href="#">
                                    <svg width="6" height="18">
                                        <use xlink:href="#length"></use>
                                    </svg>
                                    <span class="ml-2">Д: 2,44 м.</span>
                                    <svg class="ml-3" width="18" height="6">
                                        <use xlink:href="#width"></use>
                                    </svg>
                                    <span class="ml-2">Ш: 3,70 м.</span>
                                </a>
                                <a class="header__nav-catalog-link header__nav-catalog-link--ellipse" href="#">
                                    <svg width="6" height="18">
                                        <use xlink:href="#length"></use>
                                    </svg>
                                    <span class="ml-2">Д: 2 м.</span>
                                    <svg class="ml-3" width="18" height="6">
                                        <use xlink:href="#width"></use>
                                    </svg>
                                    <span class="ml-2">Ш: 4 м.</span>
                                </a>
                                <a class="header__nav-catalog-link header__nav-catalog-link--ellipse" href="#">
                                    <svg width="6" height="18">
                                        <use xlink:href="#length"></use>
                                    </svg>
                                    <span class="ml-2">Д: 2,44 м.</span>
                                    <svg class="ml-3" width="18" height="6">
                                        <use xlink:href="#width"></use>
                                    </svg>
                                    <span class="ml-2">Ш: 3,70 м.</span>
                                </a>
                                <a class="header__nav-catalog-link header__nav-catalog-link--ellipse" href="#">
                                    <svg width="6" height="18">
                                        <use xlink:href="#length"></use>
                                    </svg>
                                    <span class="ml-2">Д: 2 м.</span>
                                    <svg class="ml-3" width="18" height="6">
                                        <use xlink:href="#width"></use>
                                    </svg>
                                    <span class="ml-2">Ш: 4 м.</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__nav-link-wrp">
                <a class="header__nav-link" href="#">
                    <span>О компании</span>
                    <svg width="13" height="8">
                        <use xlink:href="#chevron-down"></use>
                    </svg>
                </a>
                <div class="header__nav-dropdown header__nav-dropdown--about">
                    <a class="header__nav-dropdown-link" href="#">Доставка и оплата</a>
                    <a class="header__nav-dropdown-link" href="#">Гарантия</a>
                    <a class="header__nav-dropdown-link" href="#">Наши дилеры</a>
                    <a class="header__nav-dropdown-link" href="#">Оптовым покупателям</a>
                    <a class="header__nav-dropdown-link" href="#">Сервисный центр</a>
                    <a class="header__nav-dropdown-link" href="#">Фотогалерея</a>
                    <a class="header__nav-dropdown-link" href="#">Инструкция</a>
                    <a class="header__nav-dropdown-link" href="#">Контакты</a>
                </div>
            </div>
        </nav>
    </div>
    <a class="header__logo" href="#">
        <svg class="header__logo-icon" width="180" height="55">
            <use xlink:href="#logo"></use>
        </svg>
    </a>
    <div class="header__info">
        <a class="header__tel d-flex align-items-center" href="tel:88002002020">
            <svg width="13" height="13">
                <use xlink:href="#tel"></use>
            </svg>
            <span class="ml-2">8-800-200-20-20</span>
        </a>
        <div class="header__cart">
            <button class="header__cart-in">
                <svg width="31" height="30">
                    <use xlink:href="#cart"></use>
                </svg>
                <span class="header__cart-value">0</span>
            </button>
            <div class="header__cart-dropdown">
                <svg width="44" height="42">
                    <use xlink:href="#cart"></use>
                </svg>
                <div class="header__cart-dropdown-info">
                    <span>Корзина пуста</span>
                    <a class="header__cart-dropdown-link" href="#">перейти в каталог</a>
                </div>
            </div>
        </div>
        <button class="header__hamburger" data-src="#menu" data-fancybox>
            <span></span>
        </button>
    </div>
</header>