<section class="match section--inner section--gray">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between mb-4 mb-xl-5">
            <div class="section__title mb-0">Сопутствующие товары</div>
            <div class="match__nav d-flex align-items-center">
                <div class="swiper-button-prev">
                    <span>
                        <svg width="17" height="20">
                            <use xlink:href="#arrow--prev"></use>
                        </svg>
                    </span>
                </div>
                <div class="swiper-button-next">
                    <span>
                        <svg width="17" height="20">
                            <use xlink:href="#arrow--next"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="match swiper-container">
            <div class="swiper-wrapper">
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--1.png" alt="Catalog Img">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Скиммер для сборных <br> бассейнов</a>
                        <div class="match__item-price">
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--2.png" alt="Catalog Img">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Насос для сборных бассейнов</a>
                        <div class="match__item-price">
                            <span class="match__item-old-price">4 000</span>
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--3.png" alt="Catalog Img">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Лестница для бассейна</a>
                        <div class="match__item-price">
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--4.png" alt="Catalog Img" style="transform: translateX(50px)">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Бассейн Larimar</a>
                        <div class="match__item-price">
                            <span class="match__item-old-price">34 220</span>
                            <span class="green"><span class="bold">33 244</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--1.png" alt="Catalog Img">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Скиммер для сборных <br> бассейнов</a>
                        <div class="match__item-price">
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--2.png" alt="Catalog Img">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Насос для сборных бассейнов</a>
                        <div class="match__item-price">
                            <span class="match__item-old-price">4 000</span>
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--3.png" alt="Catalog Img">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Лестница для бассейна</a>
                        <div class="match__item-price">
                            <span class="green"><span class="bold">3 244</span> ₽</span>
                        </div>
                    </div>
                </div>
                <div class="match__item swiper-slide">
                    <div class="match__item-top">
                        <a class="match__button" href="#">
                            <span>Заказать</span>
                            <span>
                                <svg width="17" height="17">
                                    <use xlink:href="#cart"></use>
                                </svg>
                            </span>
                        </a>
                        <img src="{{root}}assets/img/catalog__img--4.png" alt="Catalog Img" style="transform: translateX(50px)">
                    </div>
                    <div class="match__item-info">
                        <a class="match__item-title" href="#">Бассейн Larimar</a>
                        <div class="match__item-price">
                            <span class="match__item-old-price">34 220</span>
                            <span class="green"><span class="bold">33 244</span> ₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>