<section class="views section--inner section--gray">
    <div class="container-fluid">
        <div class="section__title">Выбери свой <span class="green">Larimar</span></div>
        <div class="row">
            <div class="col-xl-6 mb-4 mb-xl-0">
                <div class="view h-100">
                    <div class="view__top">
                        <div class="view__title">Круг</div>
                        <div class="view__sizes">
                            <div class="view__subtitle">Размеры:</div>
                            <div class="view__list">
                                <a class="view__size" href="#">2,44 м.</a>
                                <a class="view__size" href="#">3,05 м.</a>
                                <a class="view__size" href="#">3,66 м.</a>
                                <a class="view__size" href="#">4,88 м.</a>
                                <a class="view__size" href="#">5,5 м.</a>
                            </div>
                        </div>
                    </div>
                    <div class="view__bot">
                        <div class="view__colors">
                            <div class="view__subtitle">Цвета</div>
                            <div class="view__list">
                                <a class="view__color" href="#">
                                    <span style="background-image: url({{root}}assets/img/color__img--1.jpg);"></span>
                                </a>
                                <a class="view__color" href="#">
                                    <span style="background-image: url({{root}}assets/img/color__img--2.jpg);"></span>
                                </a>
                            </div>
                        </div>
                        <div class="view__price">21 900 ₽</div>
                        <div class="view__buttons">
                            <a class="button" href="#">Купить</a>
                            <a class="button button--tr" href="#">Подробнее</a>
                        </div>
                    </div>
                    <svg class="view__icon" width="331" height="331">
                        <use xlink:href="#view__circle"></use>
                    </svg>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="view h-100">
                    <div class="view__top">
                        <div class="view__title">Овал</div>
                        <div class="view__sizes">
                            <div class="view__subtitle">Размеры:</div>
                            <div class="view__list">
                                <a class="view__size" href="#">2,44х3,7м</a>
                                <a class="view__size" href="#">2х4м</a>
                                <a class="view__size" href="#">2,74х4,9м</a>
                                <a class="view__size" href="#">3,05х4,9м</a>
                                <a class="view__size" href="#">3,05х5,5м</a>
                                <a class="view__size" href="#">2,44х3,7м</a>
                                <a class="view__size" href="#">3,66х5,5м</a>
                                <a class="view__size" href="#">2,74х4,9м</a>
                                <a class="view__size" href="#">3,05х4,9м</a>
                                <a class="view__size" href="#">5,49х10,1м</a>
                            </div>
                        </div>
                    </div>
                    <div class="view__bot">
                        <div class="view__colors">
                            <div class="view__subtitle">Цвета</div>
                            <div class="view__list">
                                <a class="view__color" href="#">
                                    <span style="background-image: url({{root}}assets/img/color__img--1.jpg);"></span>
                                </a>
                                <a class="view__color" href="#">
                                    <span style="background-image: url({{root}}assets/img/color__img--2.jpg);"></span>
                                </a>
                            </div>
                        </div>
                        <div class="view__price">21 900 ₽</div>
                        <div class="view__buttons">
                            <a class="button" href="#">Купить</a>
                            <a class="button button--tr" href="#">Подробнее</a>
                        </div>
                    </div>
                    <svg class="view__icon view__icon--ellipse" width="461" height="338">
                        <use xlink:href="#view__ellipse"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>