@import "mixins";
@import "fonts";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
@import "common/inputs";
@import "common/buttons";
@import "common/section";
@import "common/swiper-custom";
@import "common/popup";
@import "common/quantity";

html, body {
  position: relative;
  font-family: $m-reg, Roboto, sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: $dark;
  background-color: #fff;
  padding: 0;
  margin: 0;
  max-width: 100%;
  &.fixed {
    overflow: hidden;
    padding-right: 15px;
  }

  @include r(1500) {
    font-size: 14px;
  }
}

a {
  color: $dark;

  &:hover {
    color: $green;
  }
}

.overlay {
  overflow: hidden;
}

.container-fluid {
  padding-left: 100px;
  padding-right: 100px;

  @include r(1500) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include r(600) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.svg-sprite {
  position: absolute;
  bottom: 0;
}

/* Custom animation */
.fancybox-fx-slide-in-in.fancybox-slide--next,
.fancybox-fx-slide-in-in.fancybox-slide--previous {
  transform: translateX(100%)
}

.fancybox-fx-slide-in-in.fancybox-slide--current {
  transform: translateX(0)
}