{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="ru">

<head>
    {{!— Required meta tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#087A82">
    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">
    <title>New Project</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
    {{> preloader}}

    <div class="overlay">
        {{> header}}
        {{> slider}}
        <section class="section--inner">
            <div class="container-fluid">
                <div class="section__title">Бассейны <span class="green">Larimar</span></div>
                <div class="video-banner" style="background-image: url({{root}}assets/img/video__bg.jpg);">
                    <button class="video-banner__button" data-src="https://www.youtube.com/watch?v=XPpTgCho5ZA" data-fancybox>
                        <svg width="29" height="34">
                            <use xlink:href="#play"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
        {{> view}}
        {{> catalog-grid}}
        {{> gallery-slider}}
        {{> about}}
        {{> footer}}
    </div>

    {{> svg}}
    <script src="{{root}}assets/js/app.js"></script>
</body>
</html>